page-home {
    .icon-background{
        background: #ededed;
        padding: 1rem 1.5rem;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
    }
    .card-header-md, .card-header-ios{
        font-weight: bold;
    }
    @media (max-width:413px) and (min-width:321px) {
        
    }
}
