<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Reset Password</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="reset()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <ion-card>
      <ion-card-header>
        Reset Passwword
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item [class.invalid]="!resetForm.controls.email.valid && (emailChanged || submitAttempt)">
            <ion-label floating>Email Address</ion-label>
            <ion-input #email type="email" formControlName="email" (change)="elementChanged(email)"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!resetForm.controls.email.valid  && (emailChanged || submitAttempt)">
            <p>Please enter a valid Email Address.</p>
          </ion-item>
          <ion-item *ngIf="resetForm.controls.token.value != '' ?true:false" [class.invalid]="!resetForm.controls.passwordGroup.controls.password.valid && (passwordChanged || submitAttempt)" formGroupName="passwordGroup">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" #password formControlName="password" (change)="elementChanged(password)" autocapitalize="off"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!resetForm.controls.passwordGroup.controls.password.valid && resetForm.controls.token.value != ''?true:false  && (passwordChanged || submitAttempt)">
            <p>Please enter password.</p>
          </ion-item>
          <ion-item *ngIf="resetForm.controls.token.value != '' ?true:false" [class.invalid]="!resetForm.controls.passwordGroup.controls.confirmPassword.valid && (confirmPasswordChanged || submitAttempt)" formGroupName="passwordGroup">
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" #confirmPassword formControlName="confirmPassword" (change)="elementChanged(confirmPassword)" autocapitalize="off"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="resetForm.controls.passwordGroup.controls.confirmPassword.errors?.MatchPassword && resetForm.controls.token.value != ''?true:false  && (confirmPasswordChanged || submitAttempt)">
            <p>Confirm Password should match the Password.</p>
          </ion-item>
        </ion-list>  
      </ion-card-content>  
    </ion-card>
  </form>
</ion-content>