page-site-create {
    ion-label[fixed]{
        width: 135px;
        min-width: 135px;
    }
    .card-content-md .list-md .item-md,.card-content-ios .list-ios .item-ios{
        padding-left:0;
    }
    .card-md .item-md.item-block.no-lines .item-inner,.card-ios .item-ios.item-block.no-lines .item-inner{
        border-bottom:0 !important; 
    }
}
