page-quote-create {
    .segment-md .segment-button{
        line-height: 1.5rem;
    }
    .suppliers,.verify{
        padding: 0;
        .item-inner{padding: 0 !important}
        .list-header-md{
            margin-top: 0;
            margin-bottom: 0;
            background: #dedede;
            color: black;
        }
        .heading .label-md{font-size: 1.8rem;}
        .label-md{margin: 0;}
    }
    .verify{
        padding: 5px;
    }
    .remove-item-padding{
        .item-md,.item-md-header{
            padding-left: 0;
        }
        .item-ios,.item-ios-header{
            padding-left: 0;
        }
    }
    .quote-cards{
        margin: 0;
        width: 100%;
        .card-content-md .list-md .item-md,.card-content-ios .list-ios .item-ios{
            padding-left:0;
        }
    }
}
